// .default_header {
//   font-weight: 500;
//   height: 10vh;
//   width: 100%;
//   display: flex;
//   padding: 0 3vw;
//   font-size: 1.5em;
//   justify-content: space-between;
//   align-items: center;
//   & > .title {
//     background: -webkit-linear-gradient(29deg, #0cf928, #d43838);
//     font-weight: 700;
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
// }

.default_page {
  // background: rgb(92, 54, 54);
  background-size: 400% 400%;
  // background: linear-gradient(
  //   186deg,
  //   // rgb(247, 3, 3) 0%,
  //   theme("colors.primary") 8%,
  //   theme("colors.secondary") 100%
  // );
  background-color: theme('colors.primary');
  animation: gradient 15s ease infinite;

  & >  .header {
    --eye-box-side: calc(10vh + 20px);
    min-height: 10vh;
    & > div {
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
      transition-property:background-color,backdrop-filter ;
    }
    & > #eye-container {
      width: var(--eye-box-side);
      height: var(--eye-box-side);
  
      // padding:1vh;
    }
  }
}

// body[data-theme="dark"] {
//   .default_page {
//     background: black
    
//   }
// }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
